@{
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="error-wrapper error-page-wrapper text-center">
                <h1>Page not found</h1>
                <p>Looks like the page you were looking for cannot be found</p>
            </div>
        </div>
    </div>
</div>